<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <style>
      form {
        text-align: center;
      }
      h1, h3 {
        text-align: center;
      }
      /*input[type=text]{*/
      /*}*/
      
      input[type=submit]:hover {
         background: #33cccc;
         
      }
    </style>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1><b>Bookommender</b></h1>
      <h3><emEnter your favorite book: </h3>
      <form action= '/result' method= 'post'>
        <input type='text' name='book_title'>
        <input type="submit" value="Find Similar Books">
      </form>
    </div>
    
  </body>
</html>
