<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    
    <link href="https://fonts.googleapis.com/css?family=Almendra+Display" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora" rel="stylesheet">
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <style>
      body {
        cursor:url("http://cur.cursors-4u.net/toons/too-4/too346.cur"), auto;
        background: linear-gradient(to right, rgba(0,20,255,.15), rgba(0,0,255,.15)), url("http://cdn.wallpapersafari.com/73/37/XREwJy.jpg");
      }
      form {
        text-align: center;
      }
      h1 {
        text-align: center;
        color: white;
        font-family: 'Almendra Display', cursive;
        font-size: 85px;
        text-shadow: 2px 2px black;
      }
      p {
        text-align: center;
        color: white;
        font-family: 'Almendra Display', cursive;
        font-size: 20px;
        text-shadow: 2px 2px black;
      }
      h3 {
        text-align: center;
        color: white;
        font-family: 'Almendra Display', cursive;
        font-size: 40px;
      }
      input[type=text]:focus{
        color:#39004d;
        font-size:16px;
        border-color: black;
        font-family: 'Lora', serif;
      }
      input[type=text] {
        height: 20px; 
        width: 300px;
        color:#39004d;
        font-family: 'Lora', serif;
      }
      input[type=submit] {
         height:30px;
         width:250px;
         font-size:20px;
         font-family: 'Lora', serif;
        
      }
      input[type=submit]:hover {
         background: #39004d;
         color:white;
         font-size:20px;
         font-family: 'Lora', serif;
      }
      
    </style>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1><b>Book-o-mmender</b></h1>
      <h3><em>Enter your favorite book:</em></h3>
      <p>Please be patient, it may take a while to load</p>
      <form action= '/result' method= 'post'>
        <input type='text' name='book_title'>
        <input type="submit" value="Find Similar Books">
      </form>
    </div>

  </body>
</html>
