<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
    <!-- bootstrap CSS -->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <!-- bootstrap JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Almendra+Display" rel="stylesheet">
    <!-- custom css -->
    <link rel="stylesheet" href="css/style.css" type="text/css">
    <!-- custom JS -->
    <script src="js/script.js"></script>
    <style>
      body {
        background-image: url("http://cdn.wallpapersafari.com/73/37/XREwJy.jpg");
      }
      form {
        text-align: center;
      }
      h1, h2 {
        text-align: center;
        color: white;
        font-family: 'Almendra Display', cursive;
        text-shadow: 2px 2px black;
        font-size: 42px;
      }
      h2 {
        font-size:30px;
      }
      img {
        display: block;
        margin: 0 auto;
      }
      .similar_books {
        float:left;
      }
    </style>
  </head>
  <body>
    
    <div class="container-fluid">
      <h1><b><%= @user_book.get_title %></b></h1>
      <h2><b><%= @user_book.get_author %></b></h2>
      <img src="<%= @user_book.get_image %>" style="width:150px;height:210px;">
      <div class="similar_books">
         <h1><b>Similar Books:</b></h1>
      </div>
     
 
    </div>
    
  </body>
</html>
