      body {
        background-image: url("http://cdn.wallpapersafari.com/73/37/XREwJy.jpg");
      }
      form {
        text-align: center;
      }
      h1, h2 {
        text-align: center;
        color: white;
      }
      img {
        display: block;
        margin: 0 auto;
      }
  